<ul>
    <li>
      <a  routerLink="/"  routerLinkActive="active-link" [routerLinkActiveOptions]="{exact:true}">Home</a>
    </li>    
    <li>
      <a  routerLink="/our-services"  routerLinkActive="active-link" [routerLinkActiveOptions]="{exact:true}">Our Services</a>
    </li>    
    <li>
      <a  routerLink="/about-us"  routerLinkActive="active-link" [routerLinkActiveOptions]="{exact:true}">About Us</a>
    </li>    
    <li>
      <a  routerLinkActive="active-link" routerLink="/contact-us" class="button">Contact us</a>
    </li>
  </ul>