<ul>
    <li>
      <a  routerLink="/"  routerLinkActive="active-link" [routerLinkActiveOptions]="{exact:true}">Home</a>
    </li>    
    <li>
      <a  routerLink="/"  routerLinkActive="" [routerLinkActiveOptions]="{exact:true}">Our Services</a>
    </li>    
    <li>
      <a  routerLink="/"  routerLinkActive="" [routerLinkActiveOptions]="{exact:true}">About Us</a>
    </li>    
    <li>
      <a  routerLinkActive="active-link" routerLink="/login" class="button">Contact us</a>
    </li>
  </ul>