.home-container {
  background: #FBFCFC;
  height: 100%;
  border-radius: 43px;
  margin: 0;

  #top-left {
    position: absolute;
    left: 29px;
    top: 1%;
    /* Style for "top-left-1" */
    width: 291px;
    height: 304px;

  }

  #top-right {
    position: absolute;
    right: 32px;
    top: -26px;

  }
}
