<div class="packages-main"> 
  <section class="packages-heading">
      <h1>CHOOSE OUR EXCLUSIVE PLANS</h1>
  </section>  
  <section class="grid">   
    <div class="row">
        <div class="col-1-of-4">
          <div class="feature-box">
            <h3 class="feature-box-header">Bronze</h3>
            <p class="feature-box-text">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Porro, nisi deleniti? Placeat harum nostrum vitae cumque laudantium non magnam, tempore illum ex, labore nesciunt corrupti tempora? Delectus earum natus sapiente.
            </p>
          </div>
        </div>         
        <div class="col-1-of-4">
          <div class="feature-box">
            <h3 class="feature-box-header">Bronze</h3>
            <p class="feature-box-text">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Porro, nisi deleniti? Placeat harum nostrum vitae cumque laudantium non magnam, tempore illum ex, labore nesciunt corrupti tempora? Delectus earum natus sapiente.
            </p>
          </div>
        </div>         
        <div class="col-1-of-4">
          <div class="feature-box">
            <h3 class="feature-box-header">Bronze</h3>
            <p class="feature-box-text">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Porro, nisi deleniti? Placeat harum nostrum vitae cumque laudantium non magnam, tempore illum ex, labore nesciunt corrupti tempora? Delectus earum natus sapiente.
            </p>
          </div>
        </div>         
        <div class="col-1-of-4">
          <div class="feature-box">
            <h3 class="feature-box-header">Bronze</h3>
            <p class="feature-box-text">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Porro, nisi deleniti? Placeat harum nostrum vitae cumque laudantium non magnam, tempore illum ex, labore nesciunt corrupti tempora? Delectus earum natus sapiente.
            </p>
          </div>
        </div>         
      </div>     
</section>
</div>
