<div class="index-container">

  <!-- banner row -->
  <div class="row" style="margin-top: 5em;margin-left: 8em;">
    <div class="row">
      <div class="column">
        <h1>Welcome to Abasha</h1>
        <h1 style="margin-top: -6px;">Funeral Home</h1>
      </div>
      <div class="column">
      </div>
    </div>
    <div class="row">
      <div class="column">
        <p>
          is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard
          dummy text ever since the 1500s,
        </p>
      </div>
      <div class="column">
      </div>
    </div>
    <div class="row">
      <div class="column">
        <a routerLinkActive="active-link" routerLink="/contact-us" class="button">Contact us</a>
      </div>
      <div class="column">
      </div>
    </div>
  </div>

  <!-- Mini our services here -->
  <div class="row" style="margin-top: 7em; margin-left: 8em;">
    <div class="column">
      <h4>How Can We</h4>
      <h4 style="margin-top: -10px;">help you</h4>
      <a routerLinkActive="active-link" routerLink="/contact-us" class="button services">Our Services</a>
    </div>
    <div class="column"><img src="../../../../assets/images/flower-casket.png" alt=""></div>
    <div class="column"><img src="../../../../assets/images/coffin-coffins.png" alt=""></div>
    <div class="column"><img src="../../../../assets/images/coffin-funeral.png" alt=""></div>
    <div class="column"><img src="../../../../assets/images/funeral-policies.png" alt=""></div>
    <div class="column"><img src="../../../../assets/images/tombstones.png" alt=""></div>  
  </div>
</div>
