<div class="index-container">
  <!-- <img src="assets/images/top-left-1.svg" id="top-left" alt=""> -->
  <!-- banner row -->
  <div class="row" style="margin-top: 5em;margin-left: 8em;">
    <div class="row">
      <div class="column">
        <h1>Welcome to Abasha</h1>
        <h1 style="margin-top: -6px;">Funeral Home</h1>
      </div>
      <div class="column">
      </div>
    </div>
    <div class="row">
      <div class="column">
        <p>
          is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard
          dummy text ever since the 1500s,
        </p>
      </div>
      <div class="column">
      </div>
    </div>
    <div class="row">
      <div class="column">
        <a routerLinkActive="active-link" routerLink="/contact-us" class="button">Contact us</a>
      </div>
      <div class="column">
      </div>
    </div>
  </div>


  <!-- Mini our services here -->
  <div class="row" style="margin-top: 7em; margin-left: 8em;">
    <div class="column">
      <h4>How Can We</h4>
      <h4 style="margin-top: -10px;">help you</h4>
      <a routerLinkActive="active-link" routerLink="/contact-us" class="button services">Our Services</a>
    </div>
    <div class="column"><img src="assets/images/flower-casket.png" alt=""></div>
    <div class="column"><img src="assets/images/coffin-coffins.png" alt=""></div>
    <div class="column"><img src="assets/images/coffin-funeral.png" alt=""></div>
    <div class="column"><img src="assets/images/funeral-policies.png" alt=""></div>
    <div class="column"><img src="assets/images/tombstones.png" alt=""></div>
  </div>
  <!-- bus layer -->
  <div class="row">
    <div class="column logo-truck">
      <img src="assets/images/logo-truck.png" alt="">
    </div>
    <div class="column benefits">
      <h3>
        Do not be burden by the unfortunate passing of a loved one <span>JOIN</span> our funeral cover plan
      </h3>
      <ul>
        <li>We do not choose surname</li>
        <li>Not counted for years</li>
        <li>Coffin</li>
        <li>Death certificate</li>
        <li>The pastures and the machine to lower the box</li>
        <li>2-pole tent</li>
      </ul>
    </div>
  </div>

  <!-- Options cards -->
  <div class="row plans" >     
      <div class="column header">
        <h1>
          CHOOSE OUR EXCLUSIVE PLANS
        </h1>
      </div>  
    <div class="row ">
      <div class="column">
        <div class="card">
          <div class="row">
              <div class="column">      
                  <h5>Bronze</h5>
                </div>
                <div class="column">      
                  <h5 class="price">JOINING FEE: 120</h5>
                </div>
          </div> 
          <div class="container">
              <h1>Plan A</h1>     
          </div>             
        </div>
      </div>
      <div class="column">
        <div class="card">
          <div class="row">
              <div class="column">      
                  <h5>Gold</h5>
                </div>
                <div class="column">      
                  <h5 class="price">JOINING FEE: 120</h5>
                </div>
          </div> 
          <div class="container">
              <h1>Plan B</h1>     
          </div>             
        </div>
      </div>
      <div class="column">
        <div class="card">
          <div class="row">
              <div class="column">      
                  <h5>Silver</h5>
                </div>
                <div class="column">      
                  <h5 class="price">JOINING FEE: 120</h5>
                </div>
          </div> 
          <div class="container">
              <h1>Plan C</h1>     
          </div>             
        </div>
      </div>
      <div class="column">
        <div class="card">
          <div class="row">
              <div class="column">      
                  <h5>Platinum</h5>
                </div>
                <div class="column">      
                  <h5 class="price">JOINING FEE: 120</h5>
                </div>
          </div> 
          <div class="container">
              <h1>Plan D</h1>     
          </div>             
        </div>
      </div>

    </div>
  </div>

  <!-- Our prices  -->
<div class="row prices">
  <div class="column">
    <h1>
      View all packages on offer
    </h1>
  </div>
 <div class="row">  
    <a routerLinkActive="active-link" routerLink="/our-services" class="button">Our Premiums</a> 
 </div>

</div>

</div>
