$top : 10%;

.help-main{

    height: 100%;
    background-image: url(../../../assets/images/help-bg.svg);
    background-repeat: no-repeat;
    background-size: 40vw;
    background-position-y: $top / 2;
    background-position-x: 80%;

    .help-header{
        position: absolute;
        left: 18%;
        h1{
            margin: 1rem;
        }
       
        .btn-service{
            font-size: 0.7rem;
            margin: 1rem;
        }
    }
     
}