$top : 10%;

.help-main {

  .help-header {
    padding: 0;
    text-transform: uppercase;

    .text-box {
      position: absolute;
      left: 50%;
      top: 110vh;
      transform: translate(-50%,-50%);
    }

    .header-main {
      display: block;
      font-size: 2rem;
      font-weight: 400;
      letter-spacing: 0.5em;
    }

    .header-sub {
      display: block;
      font-size: 1rem;
      font-weight: bold;
      letter-spacing: 2.4rem;
      padding-top: 1rem;
    }


    .btn-service {
      font-size: 0.7rem;
      position: absolute;
      margin: 2rem;
      left:25%;
    }
  }

}
