
@import "../assets/sass/mixins";

.app-main{
    background: #FBFCFC;
    padding-bottom: 2rem;
    border: none;
    height: 100%;
    box-shadow: 0px 2px 12px 0px rgba(0,0,0,0.75);

     @include responsive(phone){
        width: 115%;
     }

    section:nth-child(1){
        height: 10vh;
        background: transparent;
    }

   
}