<div class="nav">
  <div class="logo">
    <img src="../../assets/images/logo.svg" alt="logo">
  </div>
  <div class="menu">
    <ul>
      <li>
        <a routerLink="/" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact:true}">home</a>
      </li>
      <li>
        <a routerLink="#" routerLinkActive="active-link">about us</a>
      </li>
      <li>
        <a routerLink="/our-services" routerLinkActive="active-link" >our services</a>
      </li>
      <li>
        <a routerLink="#" class="btn btn-contact">contact us</a>
      </li>
    </ul>
  </div>
</div>