$top: 10vh;

.benefits-main {  

  .our-benefits {  
    padding: 0;
    text-transform: uppercase;

    img{
      height: 50vh;
    }
    ul {
      list-style: none;
      li::before {
        content: "\2022";
        color: #338584;
        font-weight: bold;
        display: inline-block;
        width: 1em;
        margin-left: -1em;
        margin: 1rem;
      }
    }
  }
}
