$top: 10vh;

.benefits-main {
 
    img {

        height: 50vh;
        position: absolute;         
        right: 110%;
    }

  .our-benefits {
    
    position: absolute;
    left: 50%;
    width: 35vw;

    h1 {
      margin-bottom: 2rem;
    }

    ul {
      list-style: none;

      li::before {
        content: "\2022";
        color: #338584;
        font-weight: bold;
        display: inline-block;
        width: 1em;
        margin-left: -1em;
        margin: 1rem;
      }
    }
  }
}
