<div class="benefits-main">
  <div class="our-benefits">
    <h1>
        Do not be burden by the unfortunate passing of a loved one JOIN our funeral cover plan
    </h1>
    <ul>
      <li>
        <a href="#">We do not choose surname</a>
      </li>
      <li>
        <a href="#">Not counted for years</a>
      </li>
      <li>
        <a href="#">Coffin</a>
      </li>
      <li>
        <a href="#">Death certificate</a>
      </li>
      <li>
        <a href="#">The pastures and the machine to lower the box</a>
      </li>
      <li>
        <a href="#">2-pole tent</a>
      </li>
      <li>
        <a href="#">Grocery</a>
      </li>
    </ul>
  </div>
</div>