// constant variable
$top : 10%;


.home-main {

  height: 100%;
  background-image: url(../../assets/images/welcome-bg.svg);
  background-repeat: no-repeat;
  background-size: 60%;
  top: 10%;
  background-position-x: 106%;
  position: relative;
  padding: 0;

  .box-header {

    width: 50%;
    position: absolute;
    left: 8%;
    top: $top;

    h1 {
      margin: 1rem;
      font-size: 3rem;

      span {
        font-size: 2rem;
      }

    }

    p {
      width: 50%;
      margin: 1rem;
      margin-bottom: 2rem;
    }

    .btn.primary {
      margin: 1rem;
    }

    

  } 


  section:nth-child(1) {
    height: 60vh; 
}
section:nth-child(2) {
  height: 20vh;
}
section:nth-child(3) {
  height: 60vh;
}
section:nth-child(4) {
  height: 120vh;
  padding: 20% 6%;

}

}
