// constant variable
$top : 10%;


.home-main {

  height: 100%;
  background-image: url(../../assets/images/welcome-bg.svg);
  background-repeat: no-repeat;
  background-size: 22vw;
  top: $top;
  background-position-x: 100%;
  position: relative;
  padding: 0;

  .box-header {

    width: 50%;
    position: absolute;
    left: 8%;
    top: $top*1.5;

    h1 {
      margin: 1rem;
      font-size: 3rem;

      span {
        font-size: 2rem;
      }

    }

    p {
      width: 50%;
      margin: 1rem;
      margin-bottom: 2rem;
    }

    .btn.primary {
      margin: 1rem;
    }

  }
}
