<div class="home-main">
  <section>
    <header class="box-header">
      <div class="text-box">
        <h1>
          <span class="header-main">
            Welcome To
          </span>
          <span class="header-sub">
            Abasha Funeral home
          </span>
        </h1>
        <p>
          is simply dummy text of the printing and typesetting industry.
          Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
        </p>
        <a routerLink="#" class="btn primary btn-animated">Contact us</a>
      </div>

    </header>
  </section>

  <section>
    <app-help-you></app-help-you>
  </section>
  <section>
    <app-benefits></app-benefits>
  </section>
  <section>
    <app-our-packages></app-our-packages>
  </section>
  <section>
    <app-footer></app-footer>
  </section>
</div>
