@import "mixins";

*  {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  html{
    font-weight: 400;
    font-size: 80%;  // 1 rem = 12.8px; therefore 12.8px/16px = 80% Therefore we will decrease by -1px from the base of 12.8px NB: For this project only
   
    @include responsive(tab-land){
        font-size: 73.75%; // 1 rem = 11.8px , 10.8/16 = 67.5%;
    }
 
    @include responsive(tab-port){
        font-size: 67.5%; // 1 rem = 10.8px  , 10.8/16 = 67.5%;
    }

    @include responsive(phone){
        font-size: 61.25%; // 1 rem = 9.8  , 10.8/16 = 67.5%;
    }
  
    @include responsive(big-desktop){
        font-size: 100%; // 1 rem = 16px  , 10.8/16 = 67.5%;
    }

  }

  body {
    font-family: 'Ubuntu', sans-serif; 
    letter-spacing: 1.7;
    color: #000;
    background-color: #26C6DA;
    padding: 3rem;
    padding-left: 10%;
  }
  
  a {
    text-decoration: none;
    color: #000;
  }
  
  
  h1 {
    font-size: 1.5em;
  }
  
  img {
    widows: 100%;
  }
  
  .btn {
    background: #DEE5ED;
    color: #000;
    border-radius: 1000em;
    padding: .5em 1.5em;
    box-shadow: 10px -1px 83px -21px rgba(0, 0, 0, 1);
  }
  
  .btn.primary {
    background: #26C6DA;
    color: #fff;
  }
  